* {
  margin: 0 auto;
  padding: 0 auto;
  text-decoration: none;
  clear: right;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-image: url(foto.jpg);
  background-size: cover;
}
header {
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  width: 1170px;
  height: 80px;
}
.container {
  max-width: 1170px;
  height: auto;
}
.logo {
  float: left;
}
.logo a {
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
  padding-left: 30px;
  color: white;
}
nav ul {
  float: right;
  list-style: none;
}
nav ul li {
  float: left;
  padding-right: 40px;
}
nav ul li a {
  color: white;
  line-height: 80px;
}
.profile {
  height: 610px;
  background-color: white;
  text-align: center;
}
.pp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pp img {
  margin-top: 200px;
  line-height: 500px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.hr1 {
  width: 600px;
  color: gray;
  margin: 10px auto;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}
.instagram {
  background-color: violet;
}
.github {
  background-color: gray;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 10px;
}
#about {
  width: 100%;
  height: 500px;
  background-color: gray;
}
#about h1 {
  padding: 20px;
}
.hr2 {
  width: 170px;
  margin-left: 17px;
}
.text1 {
  margin-top: 80px;
  width: 400px;
}
.text1 p {
  padding-top: 20px;
}
#skill {
  background-color: white;
  height: 500px;
}
#skill h1 {
  padding: 20px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;

  flex-direction: row;
  flex-grow: 1;
}
.box {
  flex-grow: 1;
  background-color: cornflowerblue;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 300px;
  height: 200px;
  text-align: center;
  color: black;
  font-size: 1.5em;
}
#contact {
  background-color: gray;
  height: 500px;
}
#contact h1 {
  padding: 20px;
}
.card {
  background-color: white;
  height: 220px;
}
.card figure {
  padding: 20px;
  float: left;
}
.card table {
  padding: 20px;
  margin: 0;
  text-align: left;
}
.copyright {
  margin-top: ;
  text-align: center;
  background: gray;
  height: 60px;
}
.copyright p {
  line-height: 60px;
}
